/* Placer titre-description */

#placement{
	width: 50%;
	margin: 50px 0 0;
	float: right;
	text-align: right;
}

 /* block haut */
 
#haut{
	background: #111111 url("{T_THEME_PATH}/images/haut.jpg") no-repeat top center;
	width: 900px;
	height: 39px;
	margin: 0 auto;
	padding: 0;
}

#haut a{
	padding-top: 5px;
}

/* Ruban titre */

h3.barre_titre{
	background: transparent url("{T_THEME_PATH}/images/f-titre.png") no-repeat;
	position:relative;
	height: 69px;
	width: 406px;
	margin:0;
	padding:0;  
	left: -36px;
	text-align: left;
}

h3.barre_titre span{
	display: block;
	padding : 35px 0 0 40px;
}

h3.barre_titre, h3.barre_titre a{
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial;
	color: #5189d2;
	text-shadow: 1px 1px 0 #000;
}

h3.barre_titre a:hover{
	color: #2f7ee6;
	text-decoration: none;  
}

/* fond sujet */

.bg_postbody{
	background: #111111 url("{T_THEME_PATH}/images/bg_postbody.jpg") repeat-x ;
	border: 1px solid #000; 
	padding: 7px;
	margin: 0 auto; 
}

/* icone go up */

#go_up{
	width: 30px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	right: -30px;
}

#go_up a{
	background: transparent url("{T_THEME_PATH}/images/go_up.png") no-repeat 0 0;
	display: block;
	width: 30px;
	height: 38px; 
}

#go_up a:hover{
	background: transparent url("{T_THEME_PATH}/images/go_up.png") no-repeat 0 -38px;
	width: 30px;
	height: 38px;
	text-decoration: none;
}

/* Options utilisateurs */

.block_options{
	height: 23px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: right;
}

.f_options{
	width: 80px;
	height: 23px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 20px;
	bottom: 0;
	overflow: hidden;
	transition-duration: 1.5s;
}

.icone_options{
	background: transparent url("{T_THEME_PATH}/images/options.png") no-repeat 0 0;
	width: 73px;
	height: 23px;
	display: block;
	position: relative;
	top: 0;
	right: 0; 
}

.block_options:hover .icone_options{
	background: transparent url("{T_THEME_PATH}/images/options.png") no-repeat 0 -23px;
	width: 73px;
	height: 23px;
}

.linklist_options{  
	background-color: #1e345a;
	width: 220px;
	height: 90px;
	text-align: left;
	padding: 3px;
}

.f_options:hover{
	width: 220px;
	height: 115px;
}

/* Style copy */

#thal{
	display: block;
	width: 150px;
	position: absolute;
	bottom: 14px;
	right: 10px;
	text-align: right;
	font-size: 9px;
	font-family: Arial;
	color: #343434;
}
#thal a{
	font-size: 8px;
	color: #3e3e3e;
}
#thal a:hover{
	color: #284f7b;
	text-decoration: none;
}